* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.radio-label {
  background-color:white;
  color: black;
  border-radius: 9999px;
  padding: 1.15rem 1.25rem;
  font-family: "Inter", sans-serif;
  transition-duration: 0.4s;
}

.radio-label:hover {
  background-color: rgb(143 146 163);
}

.radio-input {
  visibility: hidden;
}
