::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d1fae5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #10b981;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #047857;
  }
  * {
    scroll-behavior: smooth;
  }